@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #0b54c2;
  --ifm-color-primary-dark: #0a4caf;
  --ifm-color-primary-darker: #0947a5;
  --ifm-color-primary-darkest: #083b88;
  --ifm-color-primary-light: #0c5cd5;
  --ifm-color-primary-lighter: #0d61df;
  --ifm-color-primary-lightest: #196ff2;
  --ifm-alert-border-width: 0px;
  --ifm-alert-border-color: rgba(255, 255, 255, 0);
  --ifm-alert-background-color: rgba(255, 255, 255, 0.3);
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 100%;
  --ifm-font-family-base: "Roboto";
  --ifm-pre-padding: 7px;

  --ifm-line-height-base: 1.3;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #5d9af6;
  --ifm-color-primary-dark: #3d86f4;
  --ifm-color-primary-darker: #2d7cf3;
  --ifm-color-primary-darkest: #0c61e1;
  --ifm-color-primary-light: #7daef8;
  --ifm-color-primary-lighter: #8db8f9;
  --ifm-color-primary-lightest: #bdd6fb;
  --ifm-alert-background-color: rgba(255, 255, 255, 0);
}

details[class^="details"] {
  border-width: 0px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  margin-left: 10px;
  padding: 5px;
}

div[class^="codeBlock"] {
  margin-left: 6px;
  padding: 5px;
  box-shadow: none;
}

.alert {
  margin-left: 18px;
  border-left-width: 2px;
  border-radius: 0px;
  padding: 6px;
}

[data-theme="dark"] .alert {
  --ifm-alert-background-color: rgba(255, 255, 255, 0);
}

blockquote {
  margin-left: 24px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.8rem;
}

img[class^="img"] {
  border: 2px solid rgb(131, 131, 131);
  display: block;
  margin-top: 10px;
  margin-left: 20px;
}

ul {
  margin-left: 20px;
}
